@import "../../styles/variables.scss";

.panel {
  width: 373px;
  height: 63px;
  display: flex;
  justify-content: space-between;
  background: #161932;
  border-radius: 100px;
  padding: 0px 8px;
  margin-bottom: 45px;
  button {
    &.peach {
      background-color: $peach;
    }
    &.cyan {
      background-color: $cyan;
    }
    &.purple {
      background-color: $purple;
    }
    font-family: inherit;
    display: block;
    width: 100%;
    color: #d7e0ff;
    border-radius: 100px;
    margin: 8px 0px;
  }
}
